<div class="text-center" align="center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center">
    <h1 class="display-2">EngRusDictionary - English-Russian dictionary</h1>
    <h1 class="display-2">RusEngDictionary - Russian-English dictionary</h1>
    <h1 class="display-2">EngExplanatoryDictionary - English explanatory dictionary</h1>
    <h1 class="display-2">RusExplanatoryDictionary - Russian explanatory dictionary</h1>
    <h1 class="display-2">AddTheWord - adding words to the dictionary</h1>
    <h1 class="display-2">Adding words to dictionaries only appears after registration</h1>
</div>



