.EngExplanatoryDictionaryHidden {
    display:none;
}

.EngRusDictionaryHidden {
    display: none;
}

.RusEngDictionaryHidden {
    display: none;
}

.RusExplanatoryDictionaryHidden {
    display: none;
}